.home-container {
  color: var(--text-primary);
  background: var(--bg-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Heading */
.home-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 20px;
}

/* Products Container */
.home-product-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;

  width: 100%;
  height: 70vh;
  max-width: 1200px;
  padding: 1rem;

  overflow-y: auto;

  /* Smooth scrolling + hidden scrollbar */
  scrollbar-width: none; /* Firefox */
}

.home-product-container::-webkit-scrollbar {
  display: none; /* Chrome, Edge */
}

/* Divider */
.divider {
  width: 100%;
  height: 0.5px;
  background-color: var(--border-color);
}

/* ----------------------------
   RESPONSIVE
------------------------------*/
@media (max-width: 900px) {
  .home-product-container {
    gap: 2rem;
    justify-content: center;
  }

  .home-heading {
    font-size: 2rem;
  }
}
