.home-container {
  padding: 1rem;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.home-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary-dark);
  text-shadow: var(--shadow-sm);
  text-align: center;
}

.home-product-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  max-width: 1200px;
  padding: 1rem;

  /* Smooth scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cfd8dc #f1f5f9; /* thumb | track */
}

/* Chrome, Edge, Safari */
.home-product-container::-webkit-scrollbar {
  width: 6px;
}

.home-product-container::-webkit-scrollbar-track {
  background: #f1f5f9; /* very light gray */
  border-radius: 10px;
}

.home-product-container::-webkit-scrollbar-thumb {
  background: #cfd8dc; /* soft gray-blue */
  border-radius: 10px;
}

.home-product-container::-webkit-scrollbar-thumb:hover {
  background: #b0bec5; /* slightly darker on hover */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb; /* light gray */
  margin: 16px 0;
}

@media (max-width: 900px) {
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
