.home-container {
  color: var(--text-primary);
  background: var(--bg-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 20px;
}

.home-product-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;

  width: 100%;
  height: 70vh;
  overflow-y: auto;
  max-width: 1200px;
  padding: 1rem;

  /* Smooth scrolling */
  scrollbar-width: none; /* Firefox */
}

.divider {
  width: 100%;
  height: 0.5px;
  background-color: #ddd; /* light gray */
}

@media (max-width: 900px) {
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
