/* ============================
   MAIN LAYOUT
============================ */
.products-layout {
  width: 100%;
  min-height: calc(100vh - 65px);
  margin-top: 65px;
  background: var(--bg-primary);
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* ============================
   FILTER SECTION
============================ */
.filter-section {
  height: calc(100vh - 65px);
  z-index: 900;
}

.filter-section.active {
  display: block;
}

/* Filter toggle icon */
.filter-icon {
  position: fixed;
  top: 72px;
  right: 10px;
  z-index: 1100;

  display: none;
  cursor: pointer;
  color: var(--text-primary);
}

/* ============================
   PRODUCT SECTION
============================ */
.product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ============================
   PRODUCTS GRID
============================ */
.products-product-container {
  width: 100%;
  height: calc(100vh - 140px);
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  place-items: center;

  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

/* Webkit Scrollbar */
.products-product-container::-webkit-scrollbar {
  width: 6px;
}

.products-product-container::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 10px;
}

.products-product-container::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

.products-product-container::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

/* ============================
   EMPTY STATE
============================ */
.no-products {
  width: 100%;
  height: 50vh;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: 600;
  color: var(--text-primary);

  background: var(--bg-primary);
  border: 1px dashed var(--border-color);
  border-radius: 6px;

  animation: fadeIn 0.3s ease-in-out;
}

/* ============================
   RESPONSIVE
============================ */
@media (max-width: 992px) {
  .filter-section {
    background: var(--bg-primary);
  }

  .overlay {
    display: block;
  }
}

/* ============================
   MOBILE FILTER
============================ */
@media (max-width: 800px) {
  .filter-section {
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    /* width: 80%; */
    height: calc(100vh - 65px);
  }

  .filter-section.active {
    display: block;
  }

  .filter-icon {
    display: flex;
  }
}
