/* ============================
   OVERLAY
============================ */

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 509;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s;
}

/* ============================
   MAIN LAYOUT
============================ */

.products-layout {
  width: 100%;
  min-height: calc(100vh - 65px);
  margin-top: 65px;
  background: var(--bg-primary);
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================
   FILTER SECTION
============================ */

.filter-section {
  height: calc(100vh - 65px);
  z-index: 999;
  border-right: 1px solid var(--border-color);
  background: var(--bg-primary);
}

.filter-section.active {
  display: flex;
}

.filter-icon {
  position: fixed;
  top: 70px;
  right: 5px;
  color: var(--text-primary);
  z-index: 1100;

  display: none;
}

/* ============================
   PRODUCT SECTION
============================ */

.product-section {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ============================
   PRODUCTS GRID
============================ */

.products-product-container {
  width: 100%;
  height: 75vh;
  /* margin: auto; */
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;

  overflow-y: auto;
  scrollbar-width: none;
}

/* Chrome / Edge / Safari */
.products-product-container::-webkit-scrollbar {
  width: 6px;
}

.products-product-container::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

.products-product-container::-webkit-scrollbar-thumb {
  background: #cfd8dc;
  border-radius: 10px;
}

.products-product-container::-webkit-scrollbar-thumb:hover {
  background: #b0bec5;
}

/* ============================
   PRODUCT CARD
============================ */

/* .product-card {
  width: 100%;
  max-width: 180px;
  height: 270px;
  margin: auto;

  background: #fff;
  border-radius: 8px;
} */

/* ============================
   EMPTY STATE
============================ */

.no-products {
  width: 100%;
  height: 50vh;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: 600;
  color: var(--text-primary);

  background: var(--bg-primary);
  border: 1px dashed #d0d7e2;
  border-radius: 5px;

  animation: fadeIn 0.3s ease-in-out;
}

@media (max-width: 992px) {
  .filter-section {
    background-color: #ffffff;
  }
}

/* ============================
   MOBILE FILTER
============================ */

@media (max-width: 800px) {
  .filter-section {
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    background: var(--bg-primary);

    border-radius: 0px;
  }

  .filter-icon {
    display: flex;
  }
}
