.order-box {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 1.5rem;
  font-family: "Arial", sans-serif;

  background: var(--bg-primary);
  color: var(--text-primary);
}

.table-block {
  margin-bottom: 2rem;
}

.order-detail-title {
  color: var(--text-primary);
}

.table-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  padding-bottom: 0.5rem;
}

.table-main {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 1rem;
}

.table-head {
  background: var(--primary-dark);
}

.head-cell {
  padding: 0.8rem;
}

.table-row {
  background: var(--bg-secondary);
}

.table-cell {
  padding: 0.8rem;
  border-bottom: 1px solid var(--border-color);
}

.item-img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.status-tag {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.status-tag.processing {
  color: orange;
  background: rgba(255, 165, 0, 0.2);
}

.status-tag.delivered {
  color: green;
  background: rgba(0, 128, 0, 0.2);
}

.status-tag.cancelled {
  color: #dc3545;
  background: rgba(220, 53, 69, 0.2);
}

.pay-tag {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.paid {
  color: #28a745;
  background: rgba(40, 167, 69, 0.2);
}

.not-paid {
  color: #dc3545;
  background: rgba(220, 53, 69, 0.2);
}

.green {
  color: #28a745;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .table-title {
    font-size: 1.2rem;
  }

  .table-main {
    font-size: 0.9rem;
  }

  .item-img {
    width: 50px;
    height: 50px;
  }
}
