.footer {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: 2rem 0;
  z-index: 12;
  border-top: 0.5px solid var(--border-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
  font-weight: 600;
}

.footer-section p {
  font-size: 1rem;
  color: var(--text-secondary);
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.contact p {
  display: flex;
  gap: 8px;
  color: var(--text-secondary);
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: var(--primary-main);
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 1.5rem;
}

.social-icon:hover {
  color: var(--primary-dark);
  transform: scale(1.1);
}

.about {
  padding: 0px;
}

.about p {
  text-align: left;
  color: var(--text-secondary);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--text-secondary);
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-color);
}

.footer-bottom p {
  margin: 0;
  font-weight: 400;
}

/* ------------------ Responsive ------------------ */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 2rem;
    width: 100%;
  }

  .social-links {
    justify-content: center;
  }

  .social-icon {
    font-size: 1.5rem;
  }

  .about {
    padding: 0 20px;
  }
}
