.image-slider-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 65px;
  padding: 20px 10px;

  background: var(--bg-primary);
}

.slider-images {
  display: flex;
  transition: transform 1s ease;
  width: 100%;
}

.slider-item {
  min-width: 100%;
}

.slider-item img {
  width: 100%;
  height: 400px;
  border-radius: 4px;
  margin: auto;
  /* object-fit: cover; */
  object-fit: fill;
  padding: 0px 10px;
}

.slider-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.3rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dot.active {
  background-color: rgb(200, 197, 197);
}

.dot:hover {
  background-color: rgb(200, 197, 197);
}

@media (max-width: 768px) {
  /* .image-slider-container {
    height: 300px;
  } */

  .slider-item img {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 568px) {
  .slider-item img {
    height: 250px;
  }

  .slider-dots {
  }
}
