/* Main container */
.page-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  /* margin-top: 10px; */
  width: 100%;
}

/* Buttons */
.page-btn {
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #f9fafb; /* light text */
  border: 1px solid #4e4a59; /* base color */
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(
    to bottom right,
    #4e4a59,
    #6b6777
  ); /* gradient dark theme */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/* Hover effect */
.page-btn:hover {
  background: linear-gradient(
    to bottom right,
    #6b6777,
    #7d7a88
  ); /* lighter on hover */
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

/* Active button */
.page-btn.active {
  background-color: #4e4a59; /* main theme color */
  color: #f1f5f9; /* light text */
  border-color: #7d7a88; /* slightly lighter border */
  cursor: default;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Disabled button */
.page-btn.disabled,
.page-btn:disabled {
  background-color: #d1d1d8; /* light gray */
  color: #9ca3af;
  cursor: not-allowed;
  box-shadow: none;
}

/* Page Input */
.page-input {
  width: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 6px;
  border: 1px solid #b0bec5;
  border-radius: 8px;
  outline: none;
  color: #374151;
  background-color: #f1f5f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
