.product_id {
  text-decoration: none;
  color: inherit;
}

.product-card-container {
  border-radius: 2px;
  text-align: center;
  width: 200px;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  cursor: grab;
  padding: 5px;

  background: var(--bg-secondary);
  color: var(--text-primary);
  border: 0.5px solid var(--border-color);

  position: relative;
}

.product-card-container:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-5px);
}

.product-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 120px;
  width: 180px;
  margin: 0px auto;
}

.product-details {
  padding: 1rem;
}

.title-price-cont {
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  margin: 0.5rem;
  color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-primary);
}

.product-name-cart {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  color: var(--text-primary);
}

.rating_container {
  width: 100%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-count {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-primary);
}

.product-view {
  background-color: var(--primary-main);
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 0.3rem 0.5rem;
  margin: 5px auto;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 25%;
  width: 50%;
}

.add-to-cart:hover {
  background-color: var(--primary-dark);
}

@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .product-card-container {
    height: 260px;
    width: 170px;
  }

  .reviews {
    font-size: 12px;
    padding: 5px;
  }

  .product-view {
    padding: 0.3rem 0.5rem;
    margin: 5px auto;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
