:root {
  --sidebar-width: 250px;
}

.dashboard-container {
  display: flex;
  background-color: var(--bg-primary);
  overflow-y: auto;
  padding: 0;
}

/* First Section */
.sidebar {
  width: 250px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: 20px;
  padding-bottom: 50px;
  position: sticky;
  top: 60px;
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;

  border-right: 1px solid var(--border-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-primary);
}

.logo-icon {
  font-size: 24px;
  color: var(--text-primary);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-primary);
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.admin-link {
  margin-bottom: 0;
}
.nav-section h3 {
  color: var(--text-primary);
  font-size: 0.85rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.nav-section a {
  color: var(--text-primary);
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav-icon {
  font-size: 20px;
}

.nav-section a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

.sidebar-toggle {
  display: none;
}

.sidebar-toggle svg {
  color: var(--text-primary);
  position: fixed;
  top: 70px;
  right: 10px;
  font-size: 26px;
  cursor: pointer;
  z-index: 1300;
}

/* Second Section */
.main-content {
  flex: 1;
  padding: 25px;
  margin-top: 65px;

  height: calc(100vh - 70px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.page-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;

  overflow-y: auto;
  scrollbar-width: none;
}

.stat-box {
  background-color: var(--bg-secondary);
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-box:hover {
  transform: translateY(-5px);
}

.stat-box .icon {
  color: var(--primary-main);
  margin-bottom: 15px;
  font-size: 28px;
}

.stat-box h3 {
  margin: 10px 0;
  color: var(--text-primary);
  font-size: 0.9rem;
  font-weight: 500;
}

.stat-box p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-secondary);
  margin-top: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;

    transition: left 0.3s ease;
    z-index: 1200;

    display: none;
  }

  .sidebar.active {
    /* left: 0; */
    display: block;
  }

  .sidebar-toggle {
    display: flex;
  }

  .dashboard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1100;
  }

  .dashboard-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .stats-grid {
    padding: 50px 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .stats-grid {
    grid-template-columns: 1fr 1fr;
  }
}
