.ordersList-container {
  padding: 20px 5px;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  height: calc(100vh - 65px);
  margin-top: 70px;
}

.ordersList-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.ordersList-table-container {
  margin-top: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.ordersList-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-sm);
}

.ordersList-table th,
.ordersList-table td {
  text-align: center;
  padding: 10px 4px;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
}

.ordersList-table th {
  background-color: var(--primary-main);
  color: var(--color-btn);
}

.ordersList-table tr:nth-child(even) {
  background-color: var(--bg-secondary);
}

/* Status styles */
.order-status,
.payment-status {
  font-weight: 600;
}

.order-status.Processing {
  background-color: rgba(58, 163, 239, 0.2); /* light blue */
  color: rgb(9, 163, 235);
}

.order-status.Delivered {
  background-color: rgba(0, 255, 0, 0.1);
  color: green;
}

.payment-status.Failed {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
}

.payment-status.Paid {
  background-color: rgba(0, 255, 0, 0.1);
  color: green;
}

.action-icon {
  margin-right: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.edit-icon {
  color: var(--primary-main);
}

.edit-icon:hover {
  background-color: rgba(
    0,
    123,
    255,
    0.1
  ); /* optional: can replace with theme-based hover */
}

.delete-icon {
  color: #f7364a;
  border: none;
}

.delete-icon:hover {
  background-color: rgba(220, 53, 69, 0.1);
  color: #f3253a;
}

.no-orders-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 34px;
  font-family: serif;
  color: var(--text-secondary);
}

/* Responsive */
@media (max-width: 768px) {
  .ordersList-table {
    font-size: 14px;
  }

  .ordersList-table th,
  .ordersList-table td {
    padding: 8px;
  }

  .ordersList-table th {
    font-size: 16px;
  }

  .action-icon {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .ordersList-title {
    font-size: 20px;
  }

  .ordersList-table th,
  .ordersList-table td {
    padding: 6px;
  }

  .ordersList-table th {
    font-size: 14px;
  }

  .action-icon {
    font-size: 16px;
  }
}
