.reviews-list-container {
  max-width: 1200px;
  margin: 40px auto;
  margin-top: 65px;
  padding: 20px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
}

.reviews-list-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.reviews-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reviews-table th,
.reviews-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-primary);
}

.reviews-table th {
  background-color: var(--primary-main);
  color: var(--color-btn);
  font-weight: 600;
}

.reviews-table td {
  background-color: var(--bg-secondary);
}

.reviews-table tr:hover {
  background-color: var(--primary-light);
}

.action-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-btn {
  background-color: var(--primary-main);
  color: var(--color-btn);
}

.view-btn:hover {
  background-color: var(--primary-dark);
}

.review-product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
  border: 1px solid var(--border-color);
}

.delete-btn {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.delete-btn:hover {
  background-color: var(--primary-light);
}

.reviews-details {
  margin-top: 40px;
}

.reviews-details h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .reviews-list-container {
    padding: 15px 10px;
  }

  .reviews-list-title {
    font-size: 2rem;
  }

  .reviews-table th,
  .reviews-table td {
    font-size: 14px;
    padding: 10px;
  }
}
