.order-container {
  max-width: 1200px;
  margin: 80px auto 0;
  padding: 20px;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  font-family: "Roboto", sans-serif;
}

.order-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.order-details,
.order-items,
.order-status {
  margin-bottom: 30px;
  padding: 15px;
  background-color: var(--bg-primary);
  border-radius: 6px;
  box-shadow: var(--shadow-sm);
}

.order-details h2,
.order-items h2,
.order-status h2 {
  font-size: 1.5rem;
  color: var(--text-secondary);
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
}

.order-details p,
.order-items p,
.order-status p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
  line-height: 1.6;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-table th,
.order-table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: center;
  color: var(--text-primary);
}

.order-table th {
  background-color: var(--bg-secondary);
  font-weight: bold;
}

.order-item-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
  margin: auto;
}

.status-select {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.update-button {
  padding: 10px 20px;
  background-color: var(--primary-main);
  color: var(--color-btn);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.update-button:hover:not(:disabled) {
  background-color: var(--primary-dark);
}

.update-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .order-container {
    padding: 15px;
  }

  .order-title {
    font-size: 1.8rem;
  }

  .order-table th,
  .order-table td {
    padding: 6px;
  }

  .status-select {
    width: 100%;
  }
}
