.usersList-container {
  padding: 20px 5px;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  height: calc(100vh - 65px);
  margin-top: 65px;

  overflow-y: auto;
  scrollbar-width: thin;
}

.usersList-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.usersList-table-container {
  margin-top: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.usersList-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-sm);
}

.usersList-table th,
.usersList-table td {
  text-align: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
}

.usersList-table td {
  text-align: left;
}

.user-image {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 2px;
  object-fit: cover;
}

.usersList-table th {
  background-color: var(--primary-main);
  color: var(--color-btn);
}

.usersList-table tr:nth-child(even) {
  background-color: var(--bg-secondary);
}

.action-icon {
  margin-right: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.save-icon {
  color: var(--primary-main);
}

.save-icon:hover {
  background-color: rgba(
    0,
    123,
    255,
    0.1
  ); /* optional, can use theme-based hover later */
}

.delete-icon {
  color: #f7364a;
  border: none;
}

.delete-icon:hover {
  background-color: rgba(220, 53, 69, 0.1);
  color: #f3253a;
}

.loading-message {
  font-size: 18px;
  color: var(--text-secondary);
}

@media (max-width: 768px) {
  .usersList-table {
    font-size: 14px;
  }

  .usersList-table th,
  .usersList-table td {
    padding: 8px;
  }

  .usersList-table th {
    font-size: 16px;
  }

  .action-icon {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .usersList-title {
    font-size: 20px;
  }

  .usersList-table th,
  .usersList-table td {
    padding: 6px;
  }

  .usersList-table th {
    font-size: 14px;
  }

  .action-icon {
    font-size: 16px;
  }
}
