/* ----------------------------
   FORM LAYOUT
------------------------------*/
.form-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: #f3f4f6; /* light clean background */
  padding: 20px;
}

/* Card Style */
.form-content {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 35px 40px;
  border-radius: 18px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

/* Form Heading */
.form h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  color: #333;
  font-weight: 600;
}

/* Input Group */
.input-group {
  margin-bottom: 18px;
}

/* Input, Password, Email, File, Select */
.input-group input,
.input-group select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #5e5c69;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s ease-in-out;
  background: #fdfdfd;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #43414d;
  box-shadow: 0 0 5px rgba(94, 92, 105, 0.4);
}

/* File input style improvement */
.input-group input[type="file"] {
  padding: 8px;
  background: #fafafa;
}

.avatar-preview {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #5e5c69;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Submit Button */
.input-group button {
  width: 100%;
  padding: 12px;
  background: #5e5c69;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.input-group button:hover {
  background: #464450;
}

/* Form bottom link */
.form-links {
  text-align: center;
  margin-top: 12px;
  color: #555;
  font-size: 14px;
}

.form-links a {
  color: #5e5c69;
  text-decoration: none;
  font-weight: 500;
}

.form-links a:hover {
  text-decoration: underline;
  color: brown;
}

.btn:disabled,
.btn.disabled {
  background-color: #b3b3b3; /* greyed out */
  cursor: not-allowed; /* disable cursor */
  opacity: 0.7; /* faded */
  pointer-events: none; /* no clicks */
}
