/* ----------------------------
   PROFILE CONTAINER
------------------------------*/

/* Container */
.profile-container {
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  margin-top: 65px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background: var(--bg-primary);
}

/* LEFT SECTION */
.profile-image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: var(--bg-secondary);
  border-radius: 10px;
}

.profile-heading {
  font-size: 26px;
  margin-bottom: 15px;
  color: var(--text-primary);
  font-weight: 600;
}

.profile-image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--primary-main);
  margin-bottom: 15px;
  cursor: pointer;
}

.profile-image-container a {
  padding: 8px 15px;
  background: var(--primary-main);
  color: var(--color-btn);
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.profile-image-container a:hover {
  opacity: 0.6;
}

/* RIGHT SECTION */
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.profile-detail {
  background: var(--bg-secondary);
  padding: 10px 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.profile-detail h2 {
  font-size: 18px;
  color: var(--text-primary);
  font-weight: 600;
  width: 110px;
}

.profile-detail p {
  font-size: 16px;
  color: var(--text-secondary);
  margin-left: 20px;
}

.profile-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.profile-buttons a {
  padding: 0.875rem 2rem;
  background: var(--primary-main);
  color: var(--color-btn);
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 500;
  box-shadow: 0 4px 12px var(--bg-secondary);
}

.profile-buttons a:hover {
  background-color: var(--bg-secondary);
  transform: translateY(-2px);
}

/* ---------- Image Preview Overlay ---------- */
.image-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Container */
.image-preview-container {
  position: relative;
  max-width: 100vw;
  max-height: 90vh;
}

/* Full Image */
.full-profile-image {
  max-height: 90vh;
  width: 500px;
  border-radius: 8px;
  box-shadow: var(--shadow-md);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    padding: 20px 10px;
  }

  .profile-image {
    width: 100%;
  }

  .profile-detail {
    align-items: center;
    gap: 4px;
  }

  .full-profile-image {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .profile-container {
    padding: 2px;
    box-shadow: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--border-color);
    gap: 10px;
  }

  .profile-image-container {
    margin-bottom: 0px;
    padding: 20px 0px;
    border-radius: 5px;
    box-shadow: none;
  }

  .profile-image-container img {
    width: 150px;
    height: 150px;
  }

  .profile-image-container a {
    border-radius: 10px;
    margin-top: 0px;
  }

  .profile-detail {
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  .profile-detail p {
    font-size: 16px;
    color: var(--text-secondary);
    margin-left: 0px;
  }

  .profile-detail h2 {
    font-size: 15px;
    color: var(--text-primary);
    font-weight: 600;
    width: 110px;
  }

  .profile-buttons a {
    padding: 7px 15px;
    font-size: 15px;
  }

  .full-profile-image {
    width: 300px;
  }
}
