.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;

  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 5px;
  margin: 7px 20px;
}

.profile-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.2s ease-in;
  /* White shadow */
  box-shadow: var(--shadow-md);
}

.menu-options {
  display: none;
  padding: 15px;
  border-radius: 8px;
  position: fixed;
  top: 55px;
  right: 20px;
  width: 250px;
  z-index: 1000;
}

.menu-options.active {
  display: block;
}

.menu-option-btn {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: none;
  border-radius: 8px;

  background-color: var(--primary-dark);
  color: var(--text-primary);
  box-shadow: var(--shadow-sm);

  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.menu-option-btn:hover {
  background-color: var(--primary-light);
  color: var(--text-dark);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 999;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.cart-not-empty {
  background-color: var(--primary-light);
  color: var(--text-dark);
}

@media (max-width: 1400px) {
  .profile-header {
    /* right: -50px; */
  }
  .profile-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-light);
  }
  .menu-options {
    top: 50px;
    right: -10px;
  }
}
@media (max-width: 780px) {
  .profile-header {
    /* right: -40px; */
    margin: 8px 10px;
  }

  .profile-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
